<!doctype html>
<head>
    <title>AmongUs Inference Helper</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1><img src="https://fontmeme.com/permalink/210302/8b486152078d3f364722d85128bfa9cf.png" alt="AmongUs Inference Helper"></h1>

<body>
<div class="main">
	<form method="POST" action="/">
    <textarea name="amongus_str">{{amongus_str}}</textarea>
	<div class="button_wrapper">
	    <button type="submit" value="Submit">Execute Inference</button>
	</div>
	</form>
</div>

<br>

<div class="output">{{res}}</div>

</body>
