<!doctype html>
<head>
    <title>AmongUs Inference Helper</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" href="https://img.icons8.com/ios/50/000000/among-us.png" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-L0TZWZTZ2M"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'G-L0TZWZTZ2M');
	</script>
	<meta name="keyword" content="amoungus, note, memo, アマングアス, ノート, メモ">
	<meta name="description" content="AmongUs Inference Helper helps you to guess who the imposter is. アマングアス推論ヘルパーはインポスターが誰かを考える手助けをします。">
</head>

<h1><img src="https://fontmeme.com/permalink/210302/8b486152078d3f364722d85128bfa9cf.png" alt="AmongUs Inference Helper"></h1>

<p>AmongUs Inference Helper helps you to guess who the imposter is.</p>
<p>アマングアス推論ヘルパーはインポスターが誰かを考える手助けをします。</p>

<body>
<div class="main">
	<form method="POST" action="/">
    <textarea name="amongus_str" maxlength="10000">{{amongus_str}}</textarea>
	<div class="button_wrapper">
	    <button type="submit" value="Submit">Execute Inference / 推論実行</button>
	</div>
	</form>
</div>

<h2>Inference Result / 推論結果</h2>

{% if res.error  %}

<p>{{res.error}}</p>

{% else %}

<h3>Clearly Crewmates / 確定クルーメイト</h3>

<p>{{res.innocent | safe}}</p>

<h3>Clearly Imposters / 確定インポスター</h3>

<p>{{res.guilty | safe}}</p>

<h3>Possible Combinations of Imposters / 可能性のあるインポスターの組合せ</h3>

<div class="res">
    <table>
      <thread>
        <tr>
          <th>Imposters</th>
          <th>Kill Info</th>
        </tr>
      </thread>
      <tbody>
        {% for item in res.info %}
        <tr>
          <td align="center">{{ item[0] | safe}}</td>
          <td>{{ item[1] }}</td>
        </tr>
        {% else %}
          <td>no info!</td>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endif %}

<h2>How to Use / 使い方</h2>

<p>Input game information and players' testimonies, then AmongUs Inference Helper will output possible crewmates/imposters.</p>
<p>参加者と証言を入力すると、可能性のあるインポスターの組合せを出力します。</p>

<h2>Sample input / サンプル入力</h2>

<div class="sample"># participants
# 参加者
white, black, purple, yellow, orange, brown, cyan, lime, blue, red;

# black has been killed
# 黒が殺された
dead black;
# lime said purple didn't kill black
# 黄緑は、紫は黒を殺していないと証言した
lime trust purple;
# white said cyan killed black
# 白は、水色が黒を殺したと証言した
white doubt cyan;
# cyan said white killed black
# 水色は、白が黒を殺したと証言した
cyan doubt white;
# skipped
# スキップされた
skip;

# red has been killed
# 赤が殺された
dead red;
# yellow and brown said neither lime nor white killed red
# 黄色と茶色は、黄緑も白も赤を殺していないと証言した
yellow, brown trust lime, white;
# orange has been ejected
# オレンジが追放された
eject orange;

# no one has been killed
# 誰も殺されなかった
dead none;
# yellow has been ejected
# 黄色が追放された
eject yellow;</div>

<h2>Inference Rules</h2>

<ul>
	<li>There are two imposters.</li>
	<li>The number of alive imposters is less than half the number of crewmates. For example, there is only one imposter if the number of alive member is four.</li>
	<li>If A is an imposter, all the testimonies will be ignored. i.e. This application considers A may tell the truth, or may not.</li>
	<li>If A is a crewmate, this application considers A always tells the truth. For example, if A trusts B and A is a crewmate, this application considers B didn't kill the member. Note that it doesn't directly indicate B is a crewmate. On the other hand, if A doubts B and A is a crewmate, this application considers B is an imposter.</li>
</ul>

<h2>推論規則</h2>

<ul>
	<li>インポスターは2人いるとみなされます。</li>
	<li>生きているインポスターの数は、生きているメンバーの半数未満であるとみなされます。例えば、生きているメンバーが4人のとき、生きているインポスターは1人とみなされます。</li>
	<li>もしAがインポスターなら、Aの証言は全て無視されます。つまり、Aは本当のことを言っているかもしれないし、嘘をついているかもしれないとみなされます。</li>
	<li>もしAがクルーメイトなら、Aの証言は全て正しいとみなされます。例えば、AがBをtrustしているという証言があった場合、Bはその時killしていないとみなされます。ただし、それが直ちにBがクルーメイトとみなされる訳ではありません。一方で、AがBをdoubtしていて、かつAがクルーメイトなら、Bはインポスターとみなされます。</li>
</ul>

<footer>&copy; <a href="https://mogel.la/">mogella</a> | <a href="https://github.com/a-hanamoto/AmongUsHelper">Repository</a> | <a href="https://fontmeme.com/">Font Meme</a> | <a href="https://icons8.com/icon/zYP1etn5eiJ3/among-us">Icons8</a> | <a href="https://iconscout.com/icons/among-us" target="_blank">Among Us Icon</a> by <a href="https://iconscout.com/contributors/sonisokell">Soni Sokell</a> on <a href="https://iconscout.com">Iconscout</a></footer>

</body>
